<blockquote class="blockquote">
  <p class="quote">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, sed
    illum nesciunt magnam enim, iste voluptatem nihil maiores fugit dicta quia
    totam aspernatur possimus maxime sequi, explicabo provident laudantium
    saepe! Saepe dolorum ut fuga corporis! Praesentium ab culpa enim nisi!
  </p>
  <div class="media">
    <div class="media__icon">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">John Smith</h3>
      <div class="quote__company">Mosh Company Ceo</div>
    </div>
  </div>
</blockquote>
