<section class="block container block--domain">
  <header class="block__header">
    <h2 class="block__heading">
      The best webhosting Starting at $10 per month
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quos
      excepturi, dolores veniam quam fugiat.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--primary block--domain__icon">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block--domain__prices">
    <li class="list__item">.com $9</li>
    <li class="list__item">
      <span class="badge badge--secondary">.sg $7.91</span>
    </li>
    <li class="list__item">.space $11</li>
    <li class="list__item">.info $14</li>
    <li class="list__item">.net $10</li>
    <li class="list__item">.xyz $10</li>
  </ul>
</section>
