<section class="block container">
  <article class="media grid grid--1x2 feature">
    <div class="feature__content">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#growth"></use>
      </svg>
      <h3 class="media__title">Easy start & Managed Updates</h3>
      <p class="media__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque odit
        repellat adipisci placeat incidunt praesentium deleniti aperiam aliquid
        sint facilis!
      </p>
      <a href="#" class="link--arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp" />
      <source type="image/jpg" srcset="images/easy.jpg" />
      <img class="media__image" src="images/easy.jpg" alt="Easy to cloud" />
    </picture>
  </article>
  <article class="media grid grid--1x2 feature">
    <div class="feature__content">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#growth"></use>
      </svg>
      <h3 class="media__title">Easy start & Managed Updates</h3>
      <p class="media__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque odit
        repellat adipisci placeat incidunt praesentium deleniti aperiam aliquid
        sint facilis!
      </p>
      <a href="#" class="link--arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp" />
      <source type="image/jpg" srcset="images/easy.jpg" />
      <img class="media__image" src="images/easy.jpg" alt="Easy to cloud" />
    </picture>
  </article>
  <article class="media grid grid--1x2 feature">
    <div class="feature__content">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#growth"></use>
      </svg>
      <h3 class="media__title">Easy start & Managed Updates</h3>
      <p class="media__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque odit
        repellat adipisci placeat incidunt praesentium deleniti aperiam aliquid
        sint facilis!
      </p>
      <a href="#" class="link--arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp" />
      <source type="image/jpg" srcset="images/easy.jpg" />
      <img class="media__image" src="images/easy.jpg" alt="Easy to cloud" />
    </picture>
  </article>
</section>
