<nav class="nav collapsible collapsible--expanded">
  <a class="nav__logo" href="#"><img src="images/logo.svg" alt="logo" /></a>
  <span class="icon-container">
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
  </span>
  <ul class="list nav__list collapsible__content">
    <li class="list__item"><a href="#">Hosting</a></li>
    <li class="list__item"><a href="#">VPS</a></li>
    <li class="list__item"><a href="#">Domain</a></li>
    <li class="list__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
