<section class="block block--dark block--skewed-right hero block--showcase">
  <header class="block__header">
    <h2 class="block__heading">User-Friendly Control Panel</h2>
  </header>
  <article class="grid grid--1x2 container">
    <img class="block--showcase__image" src="images/ipad.png" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__icon">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block__heading">
              Easy start & Managed Updates
            </h3>
            <div>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
                commodi tempora laborum illo ex sunt reiciendis nihil quis!
                Unde, voluptatum.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__icon">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block__heading">
              Easy start & Managed Updates
            </h3>
            <div>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
                commodi tempora laborum illo ex sunt reiciendis nihil quis!
                Unde, voluptatum.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__icon">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block__heading">
              Easy start & Managed Updates
            </h3>
            <div>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe
                commodi tempora laborum illo ex sunt reiciendis nihil quis!
                Unde, voluptatum.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </article>
</section>
